body {
    background-color: #ffffff;

}

header {
    background-color: #083f58c7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
}



.btn-group {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 10px;
    left: 1100px;

}

.titulo {
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #e26f28;
    line-height: 60px;
}

.descrição {
    text-align: center;
    color: #03141d;
    font-size: 25px;
}



.foto {
    position: relative;
    width: 1800px;
    max-width: 1300px;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 20px #03141d;

}


.informacoes {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e26f28;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
}


.table-container {
    display: flex;
    gap: 30px;
    margin-left: 70px;
    justify-content: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    border-radius: ;
}


.table-wrapper {
    flex: 1 1 45%;
    box-sizing: border-box;
}


table {
    width: 90%;
    border-collapse: separate;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #000000;
    box-shadow: 0px 2px 8px rgba(71, 17, 17, 0.1);

}

td {
    padding: 12px;
    border: 2px solid #ccc;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}



footer {
    background-image: url("novo\ rodapé.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
}